@font-face {
  font-family: "iconfont"; /* Project id 2993656 */
  src: url('iconfont.woff2?t=1678766181153') format('woff2'),
       url('iconfont.woff?t=1678766181153') format('woff'),
       url('iconfont.ttf?t=1678766181153') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tip:before {
  content: "\e64f";
}

.icon-icon_purchase:before {
  content: "\e63c";
}

.icon-check:before {
  content: "\e654";
}

.icon-star:before {
  content: "\e655";
}

.icon-menu-members:before {
  content: "\e653";
}

.icon-menu-ticket:before {
  content: "\e652";
}

.icon-cir-checked:before {
  content: "\e650";
}

.icon-head-save:before {
  content: "\e651";
}

.icon-menu-order:before {
  content: "\e64c";
}

.icon-menu-purchase:before {
  content: "\e64d";
}

.icon-menu-logistics:before {
  content: "\e64e";
}

.icon-menu-supplier:before {
  content: "\e64b";
}

.icon-menu-store:before {
  content: "\e64a";
}

.icon-menu-live:before {
  content: "\e649";
}

.icon-menu-operation:before {
  content: "\e63d";
}

.icon-menu-home:before {
  content: "\e63e";
}

.icon-menu-search:before {
  content: "\e63f";
}

.icon-menu-risk:before {
  content: "\e640";
}

.icon-menu-promotion:before {
  content: "\e641";
}

.icon-menu-goods:before {
  content: "\e642";
}

.icon-menu-setting:before {
  content: "\e643";
}

.icon-menu-statistical:before {
  content: "\e644";
}

.icon-menu-cms:before {
  content: "\e645";
}

.icon-menu-finance:before {
  content: "\e646";
}

.icon-menu-after-sales:before {
  content: "\e647";
}

.icon-menu-recommend:before {
  content: "\e648";
}

.icon-icon_select:before {
  content: "\e63b";
}

.icon-icon_export:before {
  content: "\e635";
}

.icon-icon_print:before {
  content: "\e62f";
}

.icon-icon-preview:before {
  content: "\e631";
}

.icon-icon-remove:before {
  content: "\e630";
}

.icon-icon-back:before {
  content: "\e62e";
}

.icon-drag:before {
  content: "\e62b";
}

.icon-top:before {
  content: "\e62a";
}

.icon-bottom:before {
  content: "\e628";
}

.icon-down:before {
  content: "\e63a";
}

.icon-replace:before {
  content: "\e639";
}

.icon-tool-copy:before {
  content: "\e638";
}

.icon-tool-ab:before {
  content: "\e637";
}

.icon-nav-guide-book:before {
  content: "\e632";
}

.icon-nav-preview:before {
  content: "\e633";
}

.icon-tool-delete:before {
  content: "\e634";
}

.icon-tool-on:before {
  content: "\e636";
}

.icon-dragble:before {
  content: "\e62d";
}

.icon-add:before {
  content: "\e62c";
}

.icon-icon_nav_edit:before {
  content: "\e620";
}

