.head {
  display: flex;
  margin: 16px 0;
  align-items: center;
  column-gap: 7px;
}

.title {
  color: #1f2129;
  font-size: 18px;
  font-weight: bold;
}

.back-wrap {
  display: inline-flex;
  height: 28px;
  width: 28px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
