.head {
  margin: 16px 0;
}
.title {
  color: #1f2129;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin-right: 8px;
}
.icon {
  line-height: 28px;
  vertical-align: middle;
}
.span {
  display: inline-block;
  height: 28px;
  width: 28px;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
  line-height: 28px;
  margin-right: 6px;
  cursor: pointer;
}
