.container {
  width: 100%;
  // min-width: 432px;
  padding: 20px 24px;
  background: #f5f6fa;
  border-radius: @border-radius-base;
  box-sizing: border-box;
}

.wrap {
  padding: 30px 0;
  text-align: center;
  background-color: white;
  box-sizing: border-box;
  border-radius: @border-radius-base;
}

.icon-doc {
  margin: 0 auto;
  width: 48px;
  height: 48px;
}

.text {
  margin-top: 16px;
  color: fade(@black, 65);
  span {
    padding-left: 3px;
    vertical-align: middle;
  }
}

.tips {
  margin-top: 4px;
  font-size: 12px;
  color: fade(@black, 35);
}

.icon-tag {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.result {
  margin-top: 4px;
  font-size: 14px;
  color: @black;
}

.err-log-btn {
  color: @primary-color;
  font-size: 14px;
  cursor: pointer;

  span {
    padding-left: 4px;
  }
}

.template-btn {
  padding: 5px 0;
  text-align: center;
  font-size: 14px;
  background-color: white;
  color: fade(@black, 65);
  border-radius: @border-radius-base;
  transition: color 0.2s;
  cursor: pointer;

  span {
    padding-left: 4px;
  }

  &:hover {
    color: @primary-color;
  }
}
